# Nebius Studio Configuration
NEBIUS_API_KEY=your nebius api key here

NEBIUS_BASE_URL=https://api.studio.nebius.ai/v1

# Weaviate Cloud Configuration
WEAVIATE_URL=your weaviate cluster url here
WEAVIATE_API_KEY=your weaviate api key here

KEYWORDS_AI_API_KEY=your keywords ai api key here
EXA_API_KEY=your exa api key here



# Support integrations
NOTION_API_KEY=your notion api key here
NOTION_DATABASE_ID=your notion database id here

CALENDLY_API_KEY=your calendly api key here


SLACK_BOT_TOKEN=your slack bot token here
SLACK_APP_TOKEN=your slack app-level token here
SLACK_SIGNING_SECRET=your slack signing secret here